body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s ease;
}

h1 {
    color: #e44d26;
}

#searchBox {
    background: linear-gradient(to right, #bcce32, #a24040bf);
    padding: 15px;
    margin: 20px 0;
    border-radius: 8px;
    transition: background 0.3s ease;
}


#searchInput {
    padding: 10px;
    width: 200px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
}

button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}

#results {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.meal {
    border: 1px solid #e44d26;
    padding: 15px;
    border-radius: 8px;
    background-color: #fff;
    transition: transform 0.3s ease;
}

.meal:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.1);
}

p {
    color: #555;
}
